#custom-page-header {
    padding: 5px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

#custom-page-header .page-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#custom-page-header .lead-status-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping */
    gap: 0.5rem; /* Adjust the gap as needed */
}

#custom-page-header .lead-status-card {
    flex: 0 0 12%; /* Adjust the width percentage as needed to fit all cards in one row */
    min-width: 100px; /* Minimum width of the cards */
    max-width: 150px; /* Maximum width of the cards */
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

#custom-page-header .lead-status-card:hover {
    transform: scale(1.05);
}

#custom-page-header .card-body {
    padding: 1rem;
}

#custom-page-header .card-title {
    font-size: 0.875rem; /* Smaller font size */
    font-weight: 600;
}

#custom-page-header .card-text {
    font-size: 1rem; /* Smaller font size */
    font-weight: bold;
}

#custom-page-header .badge {
    font-size: 1rem; /* Smaller font size */
    padding: 0.25rem 0.5rem; /* Smaller padding */
    border-radius: 0.5rem;
}

@media (max-width: 1200px) {
    #custom-page-header .lead-status-card {
        flex: 0 0 20%;
    }
}

@media (max-width: 992px) {
    #custom-page-header .lead-status-card {
        flex: 0 0 30%;
    }
}

@media (max-width: 768px) {
    #custom-page-header .lead-status-card {
        flex: 0 0 45%;
    }
}

@media (max-width: 576px) {
    #custom-page-header .lead-status-card {
        flex: 0 0 100%;
    }
}
/* this is lead status base search fileter end */


/* Lead Status table css those are show the interview status */

.badge-link {
text-decoration: none;
}
.badge-custom {
font-size: 0.8rem;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0.25rem 0.5rem;
border-radius: 0.5rem;
transition: background-color 0.3s ease, transform 0.3s ease;
}
.badge-custom i {
margin-right: 0.25rem;
}
.badge-custom:hover {
transform: scale(1.05);
}
.badge-primary {
background-color: #007bff;
color: #fff;
}
.badge-secondary {
background-color: #6c757d;
color: #fff;
}
.badge-info {
background-color: #17a2b8;
color: #fff;
}
.badge-success {
background-color: #28a745;
color: #fff;
}
.badge-warning {
background-color: #ffc107;
color: #212529;
}
.badge-danger {
background-color: #dc3545;
color: #fff;
}
.badge-dark {
background-color: #343a40;
color: #fff;
}
.badge-light {
background-color: #f8f9fa;
color: #212529;
}

/* Lead Status table css those are show the interview status */

   